/*.test{*/
/*    border:1px solid red;*/
/*}*/
@media (max-width: 700px){
    .visible-hide{
        visibility: hidden;
    }

}

@media (min-width: 500px){
    .container{
        max-width: 1170px;

    }

body {
line-height: 1.75em;
}
.color-fon{
    background: #f5f5f5;


}
.family-font-support {
    font-size: 12px;
    font-family:"Brandon Grotesque",serif;

    color: rgb(150, 150, 150);
    text-transform: uppercase;

}
.myText {
    font-size: 26px;
    font-family: "Brandon Grotesque",serif;
    color: #4b4b4b;
    text-transform: uppercase;
    text-align: center;
    padding:0;
    margin: 0;
}

#recipes{
    min-width: 150px;
    padding-left: 10px;
}
#decor{
    min-width: 270px;
    padding-right: 5px;
    padding-left: 5px;
}
#education{
    min-width: 190px;
    padding-right: 5px;
    padding-left: 5px;
}
#shop{
    min-width: 80px;
    padding-left: 15px;

}
#searchAtr {
    position: absolute;
    background-color: #5d2598;
    padding:0;
    width: 28px;
    height: 28px;
    transform: translate(250px,0);


}

.searchAtr{
    width:auto;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-family:"Brandon Grotesque",serif;
    font-weight: bold;
    color: rgb(150, 150, 150);
    text-transform: uppercase;

}
.searchForm{
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 5px;
    transform: translateY(-1px);
    padding:0 170px 0 10px;
    margin:0;
    outline: none;
    max-height: 35px;
}
.promomsg{
    background: #f5f5f5;
    border-top:1px solid rgba(229,229,229,0.5);
    border-bottom:1px solid rgba(229,229,229,0.5);
}

.promoLink{
    font-size: 16px;
    font-family:"Brandon Grotesque",serif;
    color: rgb(225, 53, 154);
    text-transform: uppercase;
}
#promoP{
    color: #4b4b4b;
    font-size: 16px;
    text-align: center;
    font-family:"Brandon Grotesque",serif;
}
.for-McKinley{
    font-size: 20px;
    font-family: "Brandon Grotesque",serif;
    color: rgb(75, 75, 75);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    text-align: center;
}
.for-Method{
    font-size: 37px;
    font-family: "Yanone Kaffeesatz",serif;
    color: rgb(97, 39, 158);
    font-weight: lighter;
    /*text-transform: uppercase;*/
    line-height: 1.25;
    text-align: center;


}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.makeEasy{
font-size: 40px;
font-family: "Yanone Kaffeesatz",serif;
color: rgb(255, 255, 255);
line-height: 0.625;
text-align: left;
    border-bottom: 6px solid rgba(255, 255, 255,0.502) ;
    width: 323px;
    padding-bottom: 20px;
}
.makeAmaz{
    font-size: 50px;
    font-family: "Brandon Grotesque",serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;

}
#viewIdeas{
    background-color: #5d2598;
    padding:0px;
    width: 112px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-family: "Brandon Grotesque",serif;
    font-weight: bold;
    font-size: 14px;
    float: left;
}
.carousel-mycaption {
    position: absolute;
    right: 55%;
    bottom: 22%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.myPrice{
    position: absolute;
    /*position: relative;*/
    left: 20%;
    /*bottom: %;*/
    color: #4b4b4b;
    text-align: left;
    font-size: 18px;
    font-family: "Yanone Kaffeesatz", serif;
    /*width: 200px;*/
}
.myPrice-muffin-pan{
    position: absolute;
    left: 20%;
    bottom: 5%;
    color: #4b4b4b;
    text-align: left;
    font-size: 18px;
    font-family: "Yanone Kaffeesatz",serif;
}
.padnone a{
     padding-top: 0;
     padding-bottom: 0;
 }

.sales{
    color: #e1359a;
    font-style: normal;
    font-family: "Brandon Grotesque",serif;
    font-size: 16px;

}
 .color-br
 {
    border:1px solid #ededed;
 }
.row-mg-none{
    margin-left: 0;
    margin-right: 0;
}

 .styleProjectWeak {
     background: #ededed;
     /*background: #000;*/
 }
 .fontStyleProjectWeak{
     font-size: 20px;
     font-family:"Brandon Grotesque",serif;
     color: rgb(75, 75, 75);
     text-transform: uppercase;
     padding-top:27px;
     padding-bottom: 27px;
     text-align: left;

 }
.fontStyleProjectWeakAll{
    font-size: 12px;
    font-family:"Brandon Grotesque",serif;
    color: rgb(150, 150, 150);
    text-transform: uppercase;
    padding-top:24px;
    padding-bottom: 24px;
    /*padding-bottom: auto;*/
    /*padding-top: auto;*/
}
#arrow{
    font-size: 20px;
    font-family:"Brandon Grotesque",serif;
    color: rgb(150, 150, 150);
    font-weight: bold;
}
/*#cake {*/
/*    max-width: 467px;*/
/*    max-height: 467px;*/
/*}*/
.pg-none{
    padding-left: 0;
    padding-right: 0;
}
.price-style{
    color: black;
    font-family: "Brandon Grotesque",serif;
    font-style: normal;
    font-size: 16px;
}

.style-block-tabls{
    padding:54px 54px 0;

}
.style-price-bags{
    padding:28px 41px 0 41px ;
}
.style-price-muffinPun{
    padding:30px 41px 0 41px;
    margin-top:50px;
}

.style-cake-wilton{
    padding:29.65px 70px 0 70px;
    margin-top:50px;
}
.placeDaff{
    position: absolute;

    background:rgba(255,255,255,0.5);
}

   #font-Frills{
       font-size: 24px;
       font-family:"Brandon Grotesque",serif;
       color: rgb(75, 75, 75);
       font-weight: bold;
       text-transform: uppercase;
       line-height: 1;
       text-align: left;
       margin-top:25px;
       margin-bottom: 0;
   }
    #font-yelflowers{
        font-size: 16px;
        font-family: "Yanone Kaffeesatz", serif;
        color: rgb(78, 78, 78);
        line-height: 1;
        text-align: left;
        margin-top: 6px;
    }
.button-view-project{
    background-color: #5d2598;
    color: white;
    text-transform: uppercase;
    font-family: "Brandon Grotesque",serif;
    font-weight: bold;
    font-size: 14px;
}
.button-wilton-school{
    background-color: #5d2598;
    color: white;
    text-transform: uppercase;
    font-family: "Brandon Grotesque",serif;
    font-weight: bold;
    font-size: 12px;
}
.position-btn{
    position: absolute;
    transform: translate(-20px,-77px);
}
.position-btn-search{
    position: absolute;
}
.mg-none{
    margin:0;
}
#pg-center-button{
    padding:38px 30px 38px 10px;
}

.style-shops-btn{
    font-family: "Yanone Kaffeesatz", serif;
    font-size: 30px;
    text-align: center;
    color:#fff;
    padding:16.5px 0 16px 0;
}
.bakware-background{
    background:#61279e;
}
.decor-tools-background{
    background:#fe82cb;
}
.clearence-background{
    background:#e1359a;
}
/*.mg-shops{*/
/*    margin:0 15px;*/
/*}*/
.block-center{
    margin-left: auto;
    margin-right: auto;
}
.mail-submit-background{
    background:#f5f5f5;
}
.btn-submit-mail{
    background-color: #5d2598;
    color: white;
    font-size: 14px;
    font-family: "Brandon Grotesque",serif;
    font-style: normal;
}
.input-mail{
    border: 2px solid #969696;
    border-radius: 5px;
    font-size: 12px;
    font-family:"Brandon Grotesque",serif;
    color: #969696;
    text-transform: uppercase;
    width:auto;
}
.block-mail-text{
    font-size: 25px;
    font-family: "Brandon Grotesque",serif;
    color: #4B4B4B;
    text-transform: uppercase;
}
.block-mail-text-down{
    color:#4b4b4b;
    font-family: "Yanone Kaffeesatz",serif;
    font-size: 18px;
    text-align: center;
}
.link-learn-more{
    color: #61279e;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Brandon Grotesque",serif;
    text-decoration: underline;

}
.style-useful-link {
    font-family: "Brandon Grotesque",serif;
    font-size: 12px;
    color: #969696;
    text-transform: uppercase;
    text-align: left;
}
.style-useful-link a{
    font-family: "Brandon Grotesque",serif;
    font-size: 12px;
    color: #969696;
    text-transform: uppercase;
    text-align: left;
}
.useful-link-type li{
    list-style-type: none;
}
.pg-for-link ul{
    padding:0;
}
.style-heading-footer{
    font-family: "Brandon Grotesque",serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #4b4b4b;
    text-align: left;

}
.style-contacts-footer {
    font-family: "Arial",serif;
    font-size: 12px;
    color: #4b4b4b;
    text-align: left;
    line-height: 2.082;
}
.mg-social-style a{
margin-right:1px ;
}
.style-font-copyright{
    color: #969696;
    font-family: "Brandon Grotesque",serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
.copyright-style{
    background-color: #f5f5f5;
    padding: 3.5px 0 ;
}
.capture{
    width: 100%;
    height: auto;
    margin:0;
}
.mg-page{
    margin:0 135px;
}
}